--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0
-- Dumped by pg_dump version 16.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: artist_portfolios; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.artist_portfolios (
    id integer NOT NULL,
    artist_id integer NOT NULL,
    image text NOT NULL,
    title text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.artist_portfolios OWNER TO tolotradbs;

--
-- Name: artist_portfolios_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.artist_portfolios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.artist_portfolios_id_seq OWNER TO tolotradbs;

--
-- Name: artist_portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.artist_portfolios_id_seq OWNED BY public.artist_portfolios.id;


--
-- Name: artists; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.artists (
    id integer NOT NULL,
    user_id integer NOT NULL,
    display_name text NOT NULL,
    genres jsonb DEFAULT '[]'::jsonb NOT NULL,
    bio text,
    rate numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    popularity integer DEFAULT 0 NOT NULL,
    social_media jsonb DEFAULT '{}'::jsonb,
    contact jsonb DEFAULT '{}'::jsonb,
    location text DEFAULT ''::text,
    rating numeric(3,1) DEFAULT '0'::numeric,
    bookings integer DEFAULT 0,
    availability boolean DEFAULT true,
    unavailable_dates jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.artists OWNER TO tolotradbs;

--
-- Name: artists_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.artists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.artists_id_seq OWNER TO tolotradbs;

--
-- Name: artists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.artists_id_seq OWNED BY public.artists.id;


--
-- Name: club_locations; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.club_locations (
    id integer NOT NULL,
    club_id integer NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.club_locations OWNER TO tolotradbs;

--
-- Name: club_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.club_locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.club_locations_id_seq OWNER TO tolotradbs;

--
-- Name: club_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.club_locations_id_seq OWNED BY public.club_locations.id;


--
-- Name: club_tables; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.club_tables (
    id integer NOT NULL,
    club_id integer NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    available boolean DEFAULT true NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.club_tables OWNER TO tolotradbs;

--
-- Name: club_tables_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.club_tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.club_tables_id_seq OWNER TO tolotradbs;

--
-- Name: club_tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.club_tables_id_seq OWNED BY public.club_tables.id;


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.clubs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name text NOT NULL,
    city text NOT NULL,
    country text NOT NULL,
    address text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    capacity integer NOT NULL,
    description text,
    profile_image text,
    rating numeric(3,1) DEFAULT '0'::numeric NOT NULL,
    review_count integer DEFAULT 0 NOT NULL,
    category text DEFAULT 'Nightclub'::text NOT NULL,
    cover_image text,
    featured boolean DEFAULT false,
    instagram text,
    website text,
    opening_hours jsonb DEFAULT '{}'::jsonb,
    features jsonb DEFAULT '[]'::jsonb,
    has_table_reservation boolean DEFAULT false
);


ALTER TABLE public.clubs OWNER TO tolotradbs;

--
-- Name: clubs_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.clubs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clubs_id_seq OWNER TO tolotradbs;

--
-- Name: clubs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.clubs_id_seq OWNED BY public.clubs.id;


--
-- Name: collaboration_messages; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.collaboration_messages (
    id integer NOT NULL,
    invitation_id integer NOT NULL,
    sender_type text NOT NULL,
    sender_id integer NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.collaboration_messages OWNER TO tolotradbs;

--
-- Name: collaboration_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.collaboration_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collaboration_messages_id_seq OWNER TO tolotradbs;

--
-- Name: collaboration_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.collaboration_messages_id_seq OWNED BY public.collaboration_messages.id;


--
-- Name: collaboration_milestones; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.collaboration_milestones (
    id integer NOT NULL,
    invitation_id integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    assigned_to text NOT NULL,
    priority text DEFAULT 'medium'::text NOT NULL,
    due_date timestamp without time zone,
    completed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.collaboration_milestones OWNER TO tolotradbs;

--
-- Name: collaboration_milestones_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.collaboration_milestones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collaboration_milestones_id_seq OWNER TO tolotradbs;

--
-- Name: collaboration_milestones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.collaboration_milestones_id_seq OWNED BY public.collaboration_milestones.id;


--
-- Name: customer_profiles; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.customer_profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    preferences jsonb DEFAULT '{}'::jsonb,
    visit_history jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.customer_profiles OWNER TO tolotradbs;

--
-- Name: customer_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.customer_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_profiles_id_seq OWNER TO tolotradbs;

--
-- Name: customer_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.customer_profiles_id_seq OWNED BY public.customer_profiles.id;


--
-- Name: customer_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_tags (
    customer_id integer NOT NULL,
    tag text NOT NULL
);


ALTER TABLE public.customer_tags OWNER TO postgres;

--
-- Name: drink_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drink_types (
    id integer NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    price numeric(10,2)
);


ALTER TABLE public.drink_types OWNER TO postgres;

--
-- Name: drink_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drink_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drink_types_id_seq OWNER TO postgres;

--
-- Name: drink_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drink_types_id_seq OWNED BY public.drink_types.id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    pin text NOT NULL,
    status boolean NOT NULL,
    device_id integer,
    club_id integer NOT NULL
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: event_artists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_artists (
    event_id integer NOT NULL,
    artist_id integer NOT NULL,
    fee numeric(10,2)
);


ALTER TABLE public.event_artists OWNER TO postgres;

--
-- Name: event_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_participants (
    event_id integer NOT NULL,
    user_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    joined_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_participants OWNER TO postgres;

--
-- Name: event_reserved_tables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_reserved_tables (
    event_id integer NOT NULL,
    table_id integer NOT NULL,
    reserved_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_reserved_tables OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    date timestamp without time zone NOT NULL,
    start_time text NOT NULL,
    end_time text NOT NULL,
    location text NOT NULL,
    city text DEFAULT ''::text NOT NULL,
    country text DEFAULT ''::text NOT NULL,
    latitude numeric(10,7),
    longitude numeric(10,7),
    venue_name text NOT NULL,
    category text NOT NULL,
    price numeric(10,2) NOT NULL,
    capacity integer NOT NULL,
    cover_image text,
    participant_count integer DEFAULT 0 NOT NULL,
    popularity integer DEFAULT 0 NOT NULL,
    is_approved boolean DEFAULT false NOT NULL,
    status text DEFAULT 'planning'::text,
    mood text,
    reserve_tables boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    organizer_type text NOT NULL,
    organizer_id integer NOT NULL,
    created_by integer NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    reviewer_id integer NOT NULL,
    source_type text NOT NULL,
    source_id integer NOT NULL,
    title text NOT NULL,
    rating integer NOT NULL,
    comment text NOT NULL,
    reply text,
    source_name text NOT NULL,
    likes_count integer DEFAULT 0,
    comments_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    reviewer_type text,
    context_type text,
    context_id integer
);


ALTER TABLE public.feedback OWNER TO postgres;

--
-- Name: feedback_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback_comments (
    id integer NOT NULL,
    feedback_id integer NOT NULL,
    user_id integer NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedback_comments OWNER TO postgres;

--
-- Name: feedback_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.feedback_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_comments_id_seq OWNER TO postgres;

--
-- Name: feedback_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.feedback_comments_id_seq OWNED BY public.feedback_comments.id;


--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO postgres;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: feedback_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback_likes (
    feedback_id integer NOT NULL,
    user_id integer NOT NULL,
    liked_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedback_likes OWNER TO postgres;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitations (
    id integer NOT NULL,
    event_id integer NOT NULL,
    user_id integer NOT NULL,
    invited_by_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    progress integer DEFAULT 0,
    invited_at timestamp without time zone DEFAULT now() NOT NULL,
    expected_attendees integer DEFAULT 0,
    genre text,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invitations OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invitations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitations_id_seq OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invitations_id_seq OWNED BY public.invitations.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    user_id integer NOT NULL,
    transaction_id integer,
    amount numeric(10,2) NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    due_date timestamp without time zone,
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO postgres;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: music_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.music_genres (
    id integer NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public.music_genres OWNER TO postgres;

--
-- Name: music_genres_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.music_genres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.music_genres_id_seq OWNER TO postgres;

--
-- Name: music_genres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.music_genres_id_seq OWNED BY public.music_genres.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    quantity integer NOT NULL,
    price integer,
    notes text,
    subtotal integer NOT NULL,
    status text,
    category text,
    preparation_time integer
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    table_id integer,
    customer_name text,
    status text NOT NULL,
    total integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    payment_method text,
    priority text,
    estimated_completion_time timestamp without time zone,
    club_id integer NOT NULL,
    payment_method_id integer
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payment_methods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_methods (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    details jsonb NOT NULL,
    is_default boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payment_methods OWNER TO postgres;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_methods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_methods_id_seq OWNER TO postgres;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_methods_id_seq OWNED BY public.payment_methods.id;


--
-- Name: photo_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photo_comments (
    id integer NOT NULL,
    photo_id integer NOT NULL,
    user_id integer NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.photo_comments OWNER TO postgres;

--
-- Name: photo_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.photo_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.photo_comments_id_seq OWNER TO postgres;

--
-- Name: photo_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.photo_comments_id_seq OWNED BY public.photo_comments.id;


--
-- Name: photo_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photo_likes (
    photo_id integer NOT NULL,
    user_id integer NOT NULL,
    liked_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.photo_likes OWNER TO postgres;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photos (
    id integer NOT NULL,
    user_id integer NOT NULL,
    event_id integer,
    title text NOT NULL,
    description text,
    url text NOT NULL,
    thumbnail text NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb,
    likes_count integer DEFAULT 0,
    comments_count integer DEFAULT 0,
    uploaded_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.photos OWNER TO postgres;

--
-- Name: photos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.photos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.photos_id_seq OWNER TO postgres;

--
-- Name: photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.photos_id_seq OWNED BY public.photos.id;


--
-- Name: pos_devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_devices (
    id integer NOT NULL,
    name text NOT NULL,
    location text,
    status boolean NOT NULL,
    last_active text,
    sales integer
);


ALTER TABLE public.pos_devices OWNER TO postgres;

--
-- Name: pos_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pos_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_devices_id_seq OWNER TO postgres;

--
-- Name: pos_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pos_devices_id_seq OWNED BY public.pos_devices.id;


--
-- Name: pos_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_history (
    id integer NOT NULL,
    type text NOT NULL,
    description text,
    user_id integer,
    user_name text,
    user_role text,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    amount integer,
    order_id integer,
    table_id integer,
    table_name text,
    details text,
    status text
);


ALTER TABLE public.pos_history OWNER TO postgres;

--
-- Name: pos_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pos_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_history_id_seq OWNER TO postgres;

--
-- Name: pos_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pos_history_id_seq OWNED BY public.pos_history.id;


--
-- Name: pos_payment_methods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_payment_methods (
    id integer NOT NULL,
    name text NOT NULL,
    value integer NOT NULL,
    club_id integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.pos_payment_methods OWNER TO postgres;

--
-- Name: pos_payment_methods_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pos_payment_methods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_payment_methods_id_seq OWNER TO postgres;

--
-- Name: pos_payment_methods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pos_payment_methods_id_seq OWNED BY public.pos_payment_methods.id;


--
-- Name: pos_tables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_tables (
    id integer NOT NULL,
    name text NOT NULL,
    number integer,
    area text,
    capacity integer,
    status text NOT NULL,
    current_order_id integer,
    club_id integer NOT NULL,
    club_table_id integer
);


ALTER TABLE public.pos_tables OWNER TO postgres;

--
-- Name: pos_tables_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pos_tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_tables_id_seq OWNER TO postgres;

--
-- Name: pos_tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pos_tables_id_seq OWNED BY public.pos_tables.id;


--
-- Name: product_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_categories (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.product_categories OWNER TO postgres;

--
-- Name: product_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_categories_id_seq OWNER TO postgres;

--
-- Name: product_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_categories_id_seq OWNED BY public.product_categories.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    price integer NOT NULL,
    category_id integer,
    destinations text NOT NULL,
    is_available boolean DEFAULT true NOT NULL,
    image_url text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: promotions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions (
    id integer NOT NULL,
    event_id integer,
    club_id integer,
    title text NOT NULL,
    description text,
    discount_type text NOT NULL,
    discount_value numeric(5,2) NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    channels jsonb DEFAULT '[]'::jsonb,
    valid_from timestamp without time zone NOT NULL,
    valid_to timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    code text
);


ALTER TABLE public.promotions OWNER TO postgres;

--
-- Name: promotions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.promotions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promotions_id_seq OWNER TO postgres;

--
-- Name: promotions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.promotions_id_seq OWNED BY public.promotions.id;


--
-- Name: ticketTypes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ticketTypes" (
    id integer NOT NULL,
    event_id integer NOT NULL,
    name text NOT NULL,
    price numeric(10,2) NOT NULL,
    capacity integer NOT NULL,
    description text
);


ALTER TABLE public."ticketTypes" OWNER TO postgres;

--
-- Name: ticketTypes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ticketTypes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ticketTypes_id_seq" OWNER TO postgres;

--
-- Name: ticketTypes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ticketTypes_id_seq" OWNED BY public."ticketTypes".id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    event_id integer NOT NULL,
    user_id integer NOT NULL,
    ticket_type_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    purchased_at timestamp without time zone DEFAULT now() NOT NULL,
    status text DEFAULT 'purchased'::text
);


ALTER TABLE public.tickets OWNER TO postgres;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_id_seq OWNER TO postgres;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'processing'::text NOT NULL,
    description text NOT NULL,
    reference text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    source_type text,
    source_id integer,
    source_reference text,
    CONSTRAINT transactions_source_type_check CHECK ((source_type = ANY (ARRAY['ticket_purchase'::text, 'table_reservation'::text, 'artist_payment'::text, 'club_payment'::text, 'refund'::text, 'withdrawal'::text, 'deposit'::text, 'promotion'::text, 'fee'::text, 'event_creation'::text, 'invitation_fee'::text])))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO postgres;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    email text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    profile_image text,
    city text DEFAULT ''::text,
    country text DEFAULT ''::text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    wallet_balance numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    phone text,
    verification_status text,
    verification_documents jsonb DEFAULT '[]'::jsonb,
    notifications_enabled boolean DEFAULT true NOT NULL,
    email_notifications_enabled boolean DEFAULT true NOT NULL,
    dark_mode boolean DEFAULT false NOT NULL,
    language text DEFAULT 'fr'::text NOT NULL,
    location_enabled boolean DEFAULT true NOT NULL,
    two_factor_enabled boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: artist_portfolios id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artist_portfolios ALTER COLUMN id SET DEFAULT nextval('public.artist_portfolios_id_seq'::regclass);


--
-- Name: artists id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists ALTER COLUMN id SET DEFAULT nextval('public.artists_id_seq'::regclass);


--
-- Name: club_locations id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_locations ALTER COLUMN id SET DEFAULT nextval('public.club_locations_id_seq'::regclass);


--
-- Name: club_tables id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_tables ALTER COLUMN id SET DEFAULT nextval('public.club_tables_id_seq'::regclass);


--
-- Name: clubs id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs ALTER COLUMN id SET DEFAULT nextval('public.clubs_id_seq'::regclass);


--
-- Name: collaboration_messages id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_messages ALTER COLUMN id SET DEFAULT nextval('public.collaboration_messages_id_seq'::regclass);


--
-- Name: collaboration_milestones id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_milestones ALTER COLUMN id SET DEFAULT nextval('public.collaboration_milestones_id_seq'::regclass);


--
-- Name: customer_profiles id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.customer_profiles ALTER COLUMN id SET DEFAULT nextval('public.customer_profiles_id_seq'::regclass);


--
-- Name: drink_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drink_types ALTER COLUMN id SET DEFAULT nextval('public.drink_types_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: feedback_comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_comments ALTER COLUMN id SET DEFAULT nextval('public.feedback_comments_id_seq'::regclass);


--
-- Name: invitations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations ALTER COLUMN id SET DEFAULT nextval('public.invitations_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: music_genres id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.music_genres ALTER COLUMN id SET DEFAULT nextval('public.music_genres_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payment_methods id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_methods ALTER COLUMN id SET DEFAULT nextval('public.payment_methods_id_seq'::regclass);


--
-- Name: photo_comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_comments ALTER COLUMN id SET DEFAULT nextval('public.photo_comments_id_seq'::regclass);


--
-- Name: photos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos ALTER COLUMN id SET DEFAULT nextval('public.photos_id_seq'::regclass);


--
-- Name: pos_devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_devices ALTER COLUMN id SET DEFAULT nextval('public.pos_devices_id_seq'::regclass);


--
-- Name: pos_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_history ALTER COLUMN id SET DEFAULT nextval('public.pos_history_id_seq'::regclass);


--
-- Name: pos_payment_methods id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_payment_methods ALTER COLUMN id SET DEFAULT nextval('public.pos_payment_methods_id_seq'::regclass);


--
-- Name: pos_tables id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_tables ALTER COLUMN id SET DEFAULT nextval('public.pos_tables_id_seq'::regclass);


--
-- Name: product_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_categories ALTER COLUMN id SET DEFAULT nextval('public.product_categories_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: promotions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions ALTER COLUMN id SET DEFAULT nextval('public.promotions_id_seq'::regclass);


--
-- Name: ticketTypes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ticketTypes" ALTER COLUMN id SET DEFAULT nextval('public."ticketTypes_id_seq"'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: artist_portfolios artist_portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artist_portfolios
    ADD CONSTRAINT artist_portfolios_pkey PRIMARY KEY (id);


--
-- Name: artists artists_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_pkey PRIMARY KEY (id);


--
-- Name: artists artists_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_user_id_unique UNIQUE (user_id);


--
-- Name: club_locations club_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_locations
    ADD CONSTRAINT club_locations_pkey PRIMARY KEY (id);


--
-- Name: club_tables club_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_tables
    ADD CONSTRAINT club_tables_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_user_id_unique UNIQUE (user_id);


--
-- Name: collaboration_messages collaboration_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_messages
    ADD CONSTRAINT collaboration_messages_pkey PRIMARY KEY (id);


--
-- Name: collaboration_milestones collaboration_milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_milestones
    ADD CONSTRAINT collaboration_milestones_pkey PRIMARY KEY (id);


--
-- Name: customer_profiles customer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_pkey PRIMARY KEY (id);


--
-- Name: customer_profiles customer_profiles_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_user_id_unique UNIQUE (user_id);


--
-- Name: customer_tags customer_tags_customer_id_tag_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_tags
    ADD CONSTRAINT customer_tags_customer_id_tag_pk PRIMARY KEY (customer_id, tag);


--
-- Name: drink_types drink_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drink_types
    ADD CONSTRAINT drink_types_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: event_artists event_artists_event_id_artist_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_event_id_artist_id_pk PRIMARY KEY (event_id, artist_id);


--
-- Name: event_participants event_participants_event_id_user_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_event_id_user_id_pk PRIMARY KEY (event_id, user_id);


--
-- Name: event_reserved_tables event_reserved_tables_event_id_table_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_reserved_tables
    ADD CONSTRAINT event_reserved_tables_event_id_table_id_pk PRIMARY KEY (event_id, table_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: feedback_comments feedback_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_comments
    ADD CONSTRAINT feedback_comments_pkey PRIMARY KEY (id);


--
-- Name: feedback_likes feedback_likes_feedback_id_user_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_likes
    ADD CONSTRAINT feedback_likes_feedback_id_user_id_pk PRIMARY KEY (feedback_id, user_id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: music_genres music_genres_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.music_genres
    ADD CONSTRAINT music_genres_name_unique UNIQUE (name);


--
-- Name: music_genres music_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.music_genres
    ADD CONSTRAINT music_genres_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payment_methods payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_pkey PRIMARY KEY (id);


--
-- Name: photo_comments photo_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_comments
    ADD CONSTRAINT photo_comments_pkey PRIMARY KEY (id);


--
-- Name: photo_likes photo_likes_photo_id_user_id_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_likes
    ADD CONSTRAINT photo_likes_photo_id_user_id_pk PRIMARY KEY (photo_id, user_id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: pos_devices pos_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_devices
    ADD CONSTRAINT pos_devices_pkey PRIMARY KEY (id);


--
-- Name: pos_history pos_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_pkey PRIMARY KEY (id);


--
-- Name: pos_payment_methods pos_payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_payment_methods
    ADD CONSTRAINT pos_payment_methods_pkey PRIMARY KEY (id);


--
-- Name: pos_tables pos_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_tables
    ADD CONSTRAINT pos_tables_pkey PRIMARY KEY (id);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_code_key UNIQUE (code);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: ticketTypes ticketTypes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ticketTypes"
    ADD CONSTRAINT "ticketTypes_pkey" PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_reference_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_reference_unique UNIQUE (reference);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: idx_employees_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_club_id ON public.employees USING btree (club_id);


--
-- Name: idx_orders_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_club_id ON public.orders USING btree (club_id);


--
-- Name: idx_orders_payment_method_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_payment_method_id ON public.orders USING btree (payment_method_id);


--
-- Name: idx_pos_payment_methods_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pos_payment_methods_club_id ON public.pos_payment_methods USING btree (club_id);


--
-- Name: idx_pos_tables_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pos_tables_club_id ON public.pos_tables USING btree (club_id);


--
-- Name: idx_pos_tables_club_table_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pos_tables_club_table_id ON public.pos_tables USING btree (club_table_id);


--
-- Name: artist_portfolios artist_portfolios_artist_id_artists_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artist_portfolios
    ADD CONSTRAINT artist_portfolios_artist_id_artists_id_fk FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: artists artists_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: club_locations club_locations_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_locations
    ADD CONSTRAINT club_locations_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: club_tables club_tables_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.club_tables
    ADD CONSTRAINT club_tables_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: clubs clubs_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: collaboration_messages collaboration_messages_invitation_id_invitations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_messages
    ADD CONSTRAINT collaboration_messages_invitation_id_invitations_id_fk FOREIGN KEY (invitation_id) REFERENCES public.invitations(id);


--
-- Name: collaboration_milestones collaboration_milestones_invitation_id_invitations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.collaboration_milestones
    ADD CONSTRAINT collaboration_milestones_invitation_id_invitations_id_fk FOREIGN KEY (invitation_id) REFERENCES public.invitations(id);


--
-- Name: customer_profiles customer_profiles_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: customer_tags customer_tags_customer_id_customer_profiles_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_tags
    ADD CONSTRAINT customer_tags_customer_id_customer_profiles_id_fk FOREIGN KEY (customer_id) REFERENCES public.customer_profiles(id);


--
-- Name: employees employees_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: employees employees_device_id_pos_devices_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_device_id_pos_devices_id_fk FOREIGN KEY (device_id) REFERENCES public.pos_devices(id);


--
-- Name: event_artists event_artists_artist_id_artists_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_artist_id_artists_id_fk FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: event_artists event_artists_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: event_participants event_participants_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: event_participants event_participants_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: event_reserved_tables event_reserved_tables_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_reserved_tables
    ADD CONSTRAINT event_reserved_tables_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: event_reserved_tables event_reserved_tables_table_id_club_tables_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_reserved_tables
    ADD CONSTRAINT event_reserved_tables_table_id_club_tables_id_fk FOREIGN KEY (table_id) REFERENCES public.club_tables(id);


--
-- Name: events events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: feedback_comments feedback_comments_feedback_id_feedback_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_comments
    ADD CONSTRAINT feedback_comments_feedback_id_feedback_id_fk FOREIGN KEY (feedback_id) REFERENCES public.feedback(id);


--
-- Name: feedback_comments feedback_comments_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_comments
    ADD CONSTRAINT feedback_comments_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: feedback_likes feedback_likes_feedback_id_feedback_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_likes
    ADD CONSTRAINT feedback_likes_feedback_id_feedback_id_fk FOREIGN KEY (feedback_id) REFERENCES public.feedback(id);


--
-- Name: feedback_likes feedback_likes_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback_likes
    ADD CONSTRAINT feedback_likes_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: feedback feedback_reviewer_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_reviewer_id_users_id_fk FOREIGN KEY (reviewer_id) REFERENCES public.users(id);


--
-- Name: invitations invitations_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: invitations invitations_invited_by_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_invited_by_id_users_id_fk FOREIGN KEY (invited_by_id) REFERENCES public.users(id);


--
-- Name: invitations invitations_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: invoices invoices_transaction_id_transactions_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_transaction_id_transactions_id_fk FOREIGN KEY (transaction_id) REFERENCES public.transactions(id);


--
-- Name: invoices invoices_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_items order_items_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_products_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_products_id_fk FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders orders_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: orders orders_payment_method_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_payment_method_id_fkey FOREIGN KEY (payment_method_id) REFERENCES public.pos_payment_methods(id);


--
-- Name: orders orders_table_id_pos_tables_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_table_id_pos_tables_id_fk FOREIGN KEY (table_id) REFERENCES public.pos_tables(id);


--
-- Name: payment_methods payment_methods_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: photo_comments photo_comments_photo_id_photos_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_comments
    ADD CONSTRAINT photo_comments_photo_id_photos_id_fk FOREIGN KEY (photo_id) REFERENCES public.photos(id);


--
-- Name: photo_comments photo_comments_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_comments
    ADD CONSTRAINT photo_comments_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: photo_likes photo_likes_photo_id_photos_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_likes
    ADD CONSTRAINT photo_likes_photo_id_photos_id_fk FOREIGN KEY (photo_id) REFERENCES public.photos(id);


--
-- Name: photo_likes photo_likes_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photo_likes
    ADD CONSTRAINT photo_likes_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: photos photos_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: photos photos_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: pos_history pos_history_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: pos_history pos_history_table_id_pos_tables_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_table_id_pos_tables_id_fk FOREIGN KEY (table_id) REFERENCES public.pos_tables(id);


--
-- Name: pos_history pos_history_user_id_employees_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_user_id_employees_id_fk FOREIGN KEY (user_id) REFERENCES public.employees(id);


--
-- Name: pos_payment_methods pos_payment_methods_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_payment_methods
    ADD CONSTRAINT pos_payment_methods_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: pos_tables pos_tables_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_tables
    ADD CONSTRAINT pos_tables_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: pos_tables pos_tables_club_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_tables
    ADD CONSTRAINT pos_tables_club_table_id_fkey FOREIGN KEY (club_table_id) REFERENCES public.club_tables(id);


--
-- Name: products products_category_id_product_categories_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_product_categories_id_fk FOREIGN KEY (category_id) REFERENCES public.product_categories(id);


--
-- Name: promotions promotions_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: promotions promotions_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: ticketTypes ticketTypes_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ticketTypes"
    ADD CONSTRAINT "ticketTypes_event_id_events_id_fk" FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: tickets tickets_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: tickets tickets_ticket_type_id_ticketTypes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "tickets_ticket_type_id_ticketTypes_id_fk" FOREIGN KEY (ticket_type_id) REFERENCES public."ticketTypes"(id);


--
-- Name: tickets tickets_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: transactions transactions_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

