--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0
-- Dumped by pg_dump version 16.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: artists; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.artists (
    id integer NOT NULL,
    user_id integer NOT NULL,
    display_name text NOT NULL,
    genre text NOT NULL,
    bio text,
    rate numeric(10,2) DEFAULT 0 NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    popularity integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.artists OWNER TO tolotradbs;

--
-- Name: artists_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.artists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.artists_id_seq OWNER TO tolotradbs;

--
-- Name: artists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.artists_id_seq OWNED BY public.artists.id;


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.clubs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name text NOT NULL,
    city text NOT NULL,
    country text NOT NULL,
    address text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    capacity integer NOT NULL,
    description text,
    profile_image text,
    rating numeric(3,1) DEFAULT 0 NOT NULL,
    review_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.clubs OWNER TO tolotradbs;

--
-- Name: clubs_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.clubs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clubs_id_seq OWNER TO tolotradbs;

--
-- Name: clubs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.clubs_id_seq OWNED BY public.clubs.id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    pin text NOT NULL,
    device_id integer,
    status boolean DEFAULT true
);


ALTER TABLE public.employees OWNER TO tolotradbs;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_id_seq OWNER TO tolotradbs;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: event_artists; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.event_artists (
    event_id integer NOT NULL,
    artist_id integer NOT NULL,
    fee numeric(10,2)
);


ALTER TABLE public.event_artists OWNER TO tolotradbs;

--
-- Name: events; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.events (
    id integer NOT NULL,
    club_id integer NOT NULL,
    title text NOT NULL,
    description text,
    date timestamp without time zone NOT NULL,
    start_time text NOT NULL,
    end_time text NOT NULL,
    location text NOT NULL,
    city text DEFAULT ''::text NOT NULL,
    country text DEFAULT ''::text NOT NULL,
    latitude numeric(10,7),
    longitude numeric(10,7),
    venue_name text NOT NULL,
    category text NOT NULL,
    price numeric(10,2) NOT NULL,
    capacity integer NOT NULL,
    cover_image text,
    participant_count integer DEFAULT 0 NOT NULL,
    popularity integer DEFAULT 0 NOT NULL,
    is_approved boolean DEFAULT false NOT NULL,
    mood text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.events OWNER TO tolotradbs;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO tolotradbs;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    user_id integer NOT NULL,
    event_id integer NOT NULL,
    artist_id integer,
    club_id integer,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedback OWNER TO tolotradbs;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO tolotradbs;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: invitations; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.invitations (
    id integer NOT NULL,
    club_id integer NOT NULL,
    artist_id integer NOT NULL,
    message text,
    fee numeric(10,2),
    date timestamp without time zone,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invitations OWNER TO tolotradbs;

--
-- Name: invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.invitations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitations_id_seq OWNER TO tolotradbs;

--
-- Name: invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.invitations_id_seq OWNED BY public.invitations.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    quantity integer NOT NULL,
    price integer,
    subtotal integer NOT NULL,
    status text,
    category text,
    preparation_time integer,
    notes text
);


ALTER TABLE public.order_items OWNER TO tolotradbs;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO tolotradbs;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    table_id integer,
    customer_name text,
    status text NOT NULL,
    total integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    payment_method text,
    priority text,
    estimated_completion_time timestamp without time zone
);


ALTER TABLE public.orders OWNER TO tolotradbs;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO tolotradbs;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payment_methods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_methods (
    id integer NOT NULL,
    name text NOT NULL,
    value integer NOT NULL
);


ALTER TABLE public.payment_methods OWNER TO postgres;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_methods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_methods_id_seq OWNER TO postgres;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_methods_id_seq OWNED BY public.payment_methods.id;


--
-- Name: pos_devices; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.pos_devices (
    id integer NOT NULL,
    name text NOT NULL,
    location text,
    status boolean NOT NULL,
    last_active timestamp without time zone,
    sales integer
);


ALTER TABLE public.pos_devices OWNER TO tolotradbs;

--
-- Name: pos_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.pos_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_devices_id_seq OWNER TO tolotradbs;

--
-- Name: pos_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.pos_devices_id_seq OWNED BY public.pos_devices.id;


--
-- Name: pos_history; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.pos_history (
    id integer NOT NULL,
    type text NOT NULL,
    description text,
    user_id integer,
    user_name text,
    user_role text,
    "timestamp" character varying(255) DEFAULT now() NOT NULL,
    amount integer,
    order_id integer,
    table_id integer,
    table_name text,
    details text,
    status text
);


ALTER TABLE public.pos_history OWNER TO tolotradbs;

--
-- Name: pos_history_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.pos_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_history_id_seq OWNER TO tolotradbs;

--
-- Name: pos_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.pos_history_id_seq OWNED BY public.pos_history.id;


--
-- Name: pos_tables; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.pos_tables (
    id integer NOT NULL,
    name text NOT NULL,
    number integer,
    area text,
    capacity integer,
    status text NOT NULL,
    current_order_id integer
);


ALTER TABLE public.pos_tables OWNER TO tolotradbs;

--
-- Name: pos_tables_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.pos_tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pos_tables_id_seq OWNER TO tolotradbs;

--
-- Name: pos_tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.pos_tables_id_seq OWNED BY public.pos_tables.id;


--
-- Name: product_categories; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.product_categories (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.product_categories OWNER TO tolotradbs;

--
-- Name: product_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.product_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_categories_id_seq OWNER TO tolotradbs;

--
-- Name: product_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.product_categories_id_seq OWNED BY public.product_categories.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    price integer NOT NULL,
    category_id integer,
    is_available boolean DEFAULT true NOT NULL,
    image_url text
);


ALTER TABLE public.products OWNER TO tolotradbs;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO tolotradbs;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    event_id integer NOT NULL,
    user_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    purchase_date timestamp without time zone DEFAULT now() NOT NULL,
    is_used boolean DEFAULT false NOT NULL
);


ALTER TABLE public.tickets OWNER TO tolotradbs;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_id_seq OWNER TO tolotradbs;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    description text NOT NULL,
    type text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transactions OWNER TO tolotradbs;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO tolotradbs;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: tolotradbs
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    email text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    profile_image text,
    city text DEFAULT ''::text,
    country text DEFAULT ''::text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    wallet_balance numeric(10,2) DEFAULT 0 NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO tolotradbs;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: tolotradbs
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO tolotradbs;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tolotradbs
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: artists id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists ALTER COLUMN id SET DEFAULT nextval('public.artists_id_seq'::regclass);


--
-- Name: clubs id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs ALTER COLUMN id SET DEFAULT nextval('public.clubs_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: invitations id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.invitations ALTER COLUMN id SET DEFAULT nextval('public.invitations_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payment_methods id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_methods ALTER COLUMN id SET DEFAULT nextval('public.payment_methods_id_seq'::regclass);


--
-- Name: pos_devices id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_devices ALTER COLUMN id SET DEFAULT nextval('public.pos_devices_id_seq'::regclass);


--
-- Name: pos_history id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_history ALTER COLUMN id SET DEFAULT nextval('public.pos_history_id_seq'::regclass);


--
-- Name: pos_tables id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_tables ALTER COLUMN id SET DEFAULT nextval('public.pos_tables_id_seq'::regclass);


--
-- Name: product_categories id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.product_categories ALTER COLUMN id SET DEFAULT nextval('public.product_categories_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: artists artists_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_pkey PRIMARY KEY (id);


--
-- Name: artists artists_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_user_id_unique UNIQUE (user_id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_user_id_unique UNIQUE (user_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: event_artists event_artists_event_id_artist_id_pk; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_event_id_artist_id_pk PRIMARY KEY (event_id, artist_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payment_methods payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_pkey PRIMARY KEY (id);


--
-- Name: pos_devices pos_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_devices
    ADD CONSTRAINT pos_devices_pkey PRIMARY KEY (id);


--
-- Name: pos_history pos_history_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_pkey PRIMARY KEY (id);


--
-- Name: pos_tables pos_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_tables
    ADD CONSTRAINT pos_tables_pkey PRIMARY KEY (id);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: artists artists_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: clubs clubs_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: employees employees_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.pos_devices(id);


--
-- Name: event_artists event_artists_artist_id_artists_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_artist_id_artists_id_fk FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: event_artists event_artists_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.event_artists
    ADD CONSTRAINT event_artists_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: events events_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: feedback feedback_artist_id_artists_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_artist_id_artists_id_fk FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: feedback feedback_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: feedback feedback_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: feedback feedback_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: invitations invitations_artist_id_artists_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_artist_id_artists_id_fk FOREIGN KEY (artist_id) REFERENCES public.artists(id);


--
-- Name: invitations invitations_club_id_clubs_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_club_id_clubs_id_fk FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: order_items order_items_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_products_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_products_id_fk FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders orders_table_id_pos_tables_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_table_id_pos_tables_id_fk FOREIGN KEY (table_id) REFERENCES public.pos_tables(id);


--
-- Name: pos_history pos_history_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: pos_history pos_history_table_id_pos_tables_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_table_id_pos_tables_id_fk FOREIGN KEY (table_id) REFERENCES public.pos_tables(id);


--
-- Name: pos_history pos_history_user_id_employees_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.pos_history
    ADD CONSTRAINT pos_history_user_id_employees_id_fk FOREIGN KEY (user_id) REFERENCES public.employees(id);


--
-- Name: products products_category_id_product_categories_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_product_categories_id_fk FOREIGN KEY (category_id) REFERENCES public.product_categories(id);


--
-- Name: tickets tickets_event_id_events_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_event_id_events_id_fk FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: tickets tickets_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: transactions transactions_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: tolotradbs
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

